.forgetFormWrapper{
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.5em;
}
.forgetFormWrapper p.success {
    color: rgb(0, 255, 0);
}
.error{
    color: red;
}